@use "sass:meta";

$danger: #cf0000;
$light-red: #f19e9e;
$gray: #434343;
$light-gray: #d0d0d0;
$light-gray-5: #1e1e1ee6;
$black: #000000;
$white: #ffffff;
$primary: #2929ff;

@mixin syntax-colors($args...) {
  @debug meta.keywords($args);

  @each $name, $color in meta.keywords($args) {
    .bg-#{$name} {
      background-color: $color;
    }
    .text-#{$name} {
      color: $color;
    }
    .border-#{$name} {
      border-color: $color;
    }
    
  }
}

@include syntax-colors(
  $danger: #cf0000,
  $gray: #808080,
  $light-gray: #d0d0d0,
  $light-gray-5: #1e1e1ee6,
  $black: #000000,
  $white: #ffffff,
  $primary: #2929ff,
  $success: #008000
);
